<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/login-form.css">
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
          <div class="row">
                <button on-click="obtenerClientes">Consultar Clientes</button>
          </div>
      <div class="row">

        <div class="datagrid">
        <table>
          <thead>
            <th>ID Cliente </th>
            <th>Usuario </th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Fecha Alta</th>
          </thead>
          <tbody >
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.idcliente]]
                </td>
                <td>
                  [[item.usuario]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
                <td>
                  [[item.email]]
                </td>
                <td>
                  [[item.fecha]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </template>

    <script>
      /**
       * @customElement
       * @polymer
       */
      class GestorClientes extends Polymer.Element {
        static get is() { return 'gestor-clientes'; }
        constructor() {
          super();
        }
        ready() {
               super.ready();
        }
        static get properties() {
          return {
            clientes: {
              type: Array,
              notify: true
            }
          };
        }
        obtenerClientes(){
          var request = new XMLHttpRequest();
          request.open("GET","http://localhost:3002/clientes",false);
          request.send();
          this.clientes = JSON.parse(request.responseText);//.value;
        }
      }

      window.customElements.define(GestorClientes.is, GestorClientes);
    </script>
</dom-module>
