  <link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-movimientos">
  <template>
    <link rel="stylesheet" href="css/login-form.css">
    <link rel="stylesheet" href="css/table.css">
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>

    <div class="container">
       <div class="row">
         <div class="container">
             <div class="row">
               <form id="consulta-form" onSubmit="return false;" >
                   <fieldset name="idcliente">
                    <label for="idcliente">Nro de Cliente:</label>
                     <br />
                    <input type="text" name="idcliente" id="idcliente" placeholder="{{idcliente_placeholder}}" value="{{idcliente}}"
                            required="required" autofocus="autofocus">
                    <div class="status" id="idcliente_status"></div>
                  </fieldset>
         					<fieldset name="tipocuenta">
         					 <label for="tipocuenta">Tipo de Cuenta:</label>
         					 <br />
         					 <select name="tipocuenta" id="tipocuenta">
         						<option value="nomina">Nomina</option>
         						<option value="libreton">Libreton</option>
         					 </select>
         					 <div class="status" id="tipocuenta_status"></div>
         					 </fieldset>

         					<fieldset name="tipomovimiento">
         					 <label for="tipomovimiento">Tipo de Movimiento:</label>
         					 <br />
         					 <select name="tipomovimiento" id="tipomovimiento">
                    <option value="0">Todos</option>
         						<option value="retiro">Retiro</option>
         						<option value="deposito">Deposito</option>
         						<option value="transferencia">Transferencia</option>
         					 </select>
         					 <div class="status" id="tipomovimiento_status"></div>
         					</fieldset>
                  <fieldset>
                    <button type="reset" id="reset">Reset</button>
                    <button on-click="obtenerMovimientos" >Consultar</button>
                  </fieldset>
             </div>
         </div>

         <div class="datagrid">
          <table >
            <tbody >
              <thead>
                <tr>
                  <th>[[titulo0]]</th>
                  <th>[[titulo1]]</th>
                  <th>[[titulo2]]</th>
                  <th>[[titulo3]]</th>
                </tr>
              </thead>
     					<template is="dom-repeat" items="{{movimientos}}">
     					    <tr>
                    <td>
                     [[item.tipocuenta]]
                    </td>
       					   	<td>
       						   [[item.fecha]]
       					  	</td>
       					  	<td>
       					  	  [[item.importe]]
       					  	</td>
       					  	<td>
       						     [[item.tipomovimiento]]
       						  </td>
     					     </tr>
     					</template>
     			   </tbody>
     			</table>
        </div>
      </div>
    </div>

  </template>

    <script>
      /**
       * @customElement
       * @polymer
       */
      class GestorMovimientos extends Polymer.Element {
        static get is() { return 'gestor-movimientos'; }
        constructor() {
          super();
        }
        ready() {
               super.ready();
        }
        static get properties() {
          return {
            movimientos: {
              type: Array,
              notify: true
            },
            titulo0: {
              type: String,
              value:'Tipo de Cuenta'
            },
            titulo1: {
              type: String,
              value:'Fecha'
            },
            titulo2:{
              type: Number,
              value: 'Importe'
            },
            titulo3:{
              type: String,
              value: 'Tipo'
            },
            idcliente: {
              type: Number,
              value: sessionStorage.getItem("idcliente")
            }
          };
        }
        obtenerMovimientos(){
          var request = new XMLHttpRequest();
          var query = this.$.idcliente.value+"&"+this.$.tipocuenta.value+"&"+this.$.tipomovimiento.value;
          var urlMovimiento = "http://localhost:3002/movimientos/filtro/"+query;
          request.open("GET",urlMovimiento,false);
          request.send();
          this.movimientos = JSON.parse(request.responseText);
          if(this.movimientos.length===0){
            alert("No se encontraron movimientos con los datos proporcionados");
          }
        }

      }

      window.customElements.define(GestorMovimientos.is, GestorMovimientos);
    </script>
</dom-module>
