<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="coin-market">
  <template>
  <link rel="stylesheet" href="css/login-form.css">
  <link rel="stylesheet" href="css/table.css">
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
      borderdiv:{
        border-radius: 5px;
        box-shadow: 0px 0 10px rgb(134, 178, 203);
      }
    </style>
    <div class="container"  >
      <div class="row">
        <div >
          <div>
            <button on-click="obtenerTipodeCambio">Consultar</button>
          </div>

        </br>
        <div class="datagrid">
          <table >
          <thead>
            <tr>
              <th>[[titulo1]]</th>
              <th>[[titulo2]]</th>
              <th>[[titulo3]]</th>
            </tr>
          </thead>
            <tbody >
              <template is="dom-repeat" items="{{coins}}">
                <tr>
                  <td>
                    [[item.name]]
                  </td>
                  <td>
                    [[item.price_usd]]
                  </td>
                  <td>
                    [[item.price_btc]]
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>

        </div>
      </div>
    </div>
  </template>

    <script>
      /**
       * @customElement
       * @polymer
       */
      class CoinMarket extends Polymer.Element {
        static get is() { return 'coin-market'; }
        static get properties() {
          return {
            coins: {
              type: Array,
              notify: true
            },
            titulo1: {
              type: String,
              value:'Moneda'
            },
            titulo2:{
              type: Number,
              value: 'Price USD'
            },
            titulo3:{
              type: String,
              value: 'Price BTC'
            },
          };
        }
        obtenerTipodeCambio(){
          var request = new XMLHttpRequest();
          request.open("GET","https://api.coinmarketcap.com/v1/ticker/",false);
          request.send();
          this.coins = JSON.parse(request.responseText);//.value;
        }
      }

      window.customElements.define(CoinMarket.is, CoinMarket);
    </script>
</dom-module>
