<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="eliminar-cliente">
  <template>
    <link rel="stylesheet" href="css/login-form.css">
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
            <div class="row">
                  <form  id="form-login" onSubmit="return false;">
                      <fieldset>
                          <div id="msg"></div>
                      </fieldset>
                      <fieldset name="username">
                        <label for="username">Usuario:</label>
                        <br />
                        <input type="username" name="username" id="username" placeholder="{{username_placeholder}}" value="{{username}}" required="required" autofocus="autofocus">
                        <div class="status" id="username_status"></div>
                      </fieldset>
                      <fieldset>
                          <button on-click="eliminarCliente">Eliminar cliente</button>
                      </fieldset>
                  </form>
            </div>
            <br />

    </div>
  </template>

    <script>
      /**
       * @customElement
       * @polymer
       */
      class EliminarCliente extends Polymer.Element {
        static get is() { return 'eliminar-cliente'; }
        constructor() {
          super();
        }
        ready() {
               super.ready();
        }
        eliminarCliente(){
          var request = new XMLHttpRequest();
          var query = this.$.username.value;
          if(sessionStorage.getItem("username")===query){
            alert("Este usuario es el de la presente sesión, no puede ser eliminado");
            return;
          }
          var urlCliente = "http://localhost:3002/clientes/"+query; //validar cuando MLAB deje hacer esto
          alert(urlCliente);
          request.open("DELETE",urlCliente,false);
          request.send();
          if (request.status == 200){
             alert("El cliente se eliminó en forma exitosa");
             return;
          }else{
             alert("Error a eliminar el cliente");
             return;
           }

        }
      }

      window.customElements.define(EliminarCliente.is, EliminarCliente);
    </script>
</dom-module>
