<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-form">
  <template>
    <link rel="stylesheet" href="/src/css/login-form.css">
    <div class="container">
      <div class="row">
        <form  id="form-login" action="src/panelcliente.html" onSubmit="return false;">
          <fieldset>
        			<div id="msg"></div>
      		</fieldset>
    	    <fieldset name="username">
    	      <label for="username">Usuario:</label>
            <br />
    	      <input type="username" name="username" id="username" placeholder="{{username_placeholder}}" value="{{username}}" required="required" autofocus="autofocus">
    	      <div class="status" id="username_status"></div>
    	    </fieldset>

          <fieldset name="password">
            <label for="password">Password:</label>
            <br />
            <input type="password" name="password"  id="password" required="required" autofocus="autofocus">
            <div class="status" id="password_status"></div>
          </fieldset>
          <br />
          <fieldset>
              <button on-click="validarUsuario">Siguiente</button>

          </fieldset>
      </form>

      </div>
      <p><a href="/src/registro.html">¿Quieres unirte a nuestro sitio ?</a></p>
    </div>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginForm extends Polymer.Element {
      static get is() { return 'login-form'; }
      constructor() {
        super();
      }
      ready() {
             super.ready();
      }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      validarUsuario(){
        var objpoly =[];
        var request = new XMLHttpRequest();
        var urlConsulta = "http://localhost:3002/clientes/login/"+this.$.username.value+"&"+this.$.password.value;
        request.open("GET", urlConsulta,false);
        request.setRequestHeader('Content-type','application/json; charset=utf-8');
        request.send();
        if( request.status !=  200  )  {
              alert( "No se pudo validar el usuario  :"  + request.status +  "  -"  + request.statusText );
        }else{
           objpoly = JSON.parse(request.responseText);
              if( objpoly.length<1){
                alert("El usuario o password proporcionados no son correctos");
                return false;
              }else{
                sessionStorage.setItem("username",this.$.username.value);
                sessionStorage.setItem("idcliente",objpoly[0].idcliente);
                location.href="src/panelcliente.html";
              }
        }
      }
    }

    window.customElements.define(LoginForm.is, LoginForm);
  </script>
</dom-module>
