h2 {  /*nombre del estilo o botón*/
   border: 2px solid #b5f2f2;  /*borde: estilo y color*/
   font: normal normal 18px quicksand;  /*fuente*/
   color:#0C345F;  /*color de la fuente*/
   letter-spacing: 2px; /*separación entre las letras*/
   text-align: center; /*alineación del texto*/
   text-transform: uppercase; /*texto se transforma en mayúsculas*/
   padding: 6px;  /*tamaño del fondo*/
   border-radius: 30px 0px 30px 0px; /*ángulos de las 4 esquinas del borde/fondo*/
   /* Rellenamos el fondo */
   min-height: 90%;
   min-width: auto;

   /* Escalamiento proporcional */
   width: 90%;
   height: auto;
   box-shadow: 0px 0 10px rgb(134, 178, 203);
}
