<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="registro-form">
  <template>
    <link rel="stylesheet" href="css/login-form.css">

    <div class="container">
      <div class="row">
        <form id="registration-form" onSubmit="return false;" >

          <fieldset>
        			<div id="msg"></div>
      		</fieldset>
    	    <fieldset name="username">
    	      <label for="username">Usuario:</label>
            <br />
    	      <input type="text" name="username" id="username" placeholder="Su nombre de usuario" value="{{username}}"
                   required="required" autofocus="autofocus">
    	      <div class="status" id="username_status"></div>
    	    </fieldset>
          <fieldset name="nombre">
            <label for="name">Nombre:</label>
            <br />
            <input type="text" name="nombre" id="nombre" placeholder="nombre completo" value="{{nombre}}"
                minlength="5" maxlength="40" required="required" autofocus="autofocus">
            <div class="status" id="nombre_status"></div>
          </fieldset>
          <fieldset name="apellido">
            <label for="apellido">Apellido:</label>
            <br />
            <input type="text" name="apellido" id="apellido" placeholder="apellido" value="{{apellido}}" required="required"
                    minlength="5" maxlength="40" autofocus="autofocus">
            <div class="status" id="apellido_status"></div>
          </fieldset>
          <fieldset name="password">
            <label for="password">Password:</label>
            <br />
            <input type="password" name="password"  id="password" required="required"
                    autofocus="autofocus" pattern="[a-zA-Z0-9]{5,}" placeholder="Al menos 5 caracteres">
            <div class="status" id="password_status"></div>
          </fieldset>
          <fieldset name="confirmpassword">
            <label for="confirmpassword">Confirmar Password:</label>
            <br />
            <input type="password" name="confirmpassword"  id="confirmpassword" required="required"
                   autofocus="autofocus" minlength="5" maxlength="40">
            <div class="status" id="confirmarpassword_status"></div>
          </fieldset>
          <fieldset name="email">
            <label for="email">Email:</label>
            <br />
            <input type="email" name="email" id="email" placeholder="{{email_placeholder}}" value="{{email}}"
                   required="required" autofocus="autofocus">
            <div class="status" id="email_status"></div>
          </fieldset>
          <br />
          <fieldset>
            <button type="reset" id="reset">Reset</button>
            <button on-click="insertCliente" align="left">Registrar</button>
          </fieldset>
      </form>

      </div>
    </div>

  </template>
  <script src="src/scripts/register.js" type="text/javascript"></script>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroForm extends Polymer.Element {
      static get is() { return 'registro-form'; }
      constructor() {
        super();
      }
      ready() {
             super.ready();
      }

      existUsuario(){
        var objpoly =[];
        var usuario = this.$.username.value;
        var request = new XMLHttpRequest();
        var urlUsuario = "http://localhost:3002/clientes/validarusuario/"+usuario;
        var i=1;
        var existUsuario= true;
        //validarUsuario
        request.open("GET", urlUsuario,false);
        request.send();
        if( request.status !=  200  )  {
              alert(  "Error  :"  + request.status +  "  -"  + request.statusText );
        }else{
          objpoly = JSON.parse(request.responseText);
             if( objpoly.length<1){
               existUsuario = false;
             }
        }
        return existUsuario;
      }

     validarCampos(){
        if(this.$.username.value.trim()==="" || this.$.nombre.value.trim()==="" || this.$.apellido.value.trim()===""){
          alert("El usuario, nombre y apellido son requeridos");
          return false;
        }
        var passwordMatch = this.$.password.value === this.$.confirmpassword.value;
        if(this.$.password.value==""){
          alert("El password es requerido");
          return false;
        }
        if(!passwordMatch){
          alert("Los campos referente al password deben coincidir");
          return false;
        }
      }


    insertCliente(){
      //validar campos
      var isCorrecto = this.validarCampos();
      if (isCorrecto==false){
        return;
      }

        //validar que el usuario proporcionado no se encuentren en el sistema
        var existUsr = this.existUsuario();
        if (existUsr){
          alert("El usuario proporcionado ya está asignado en el sistema,\n por favor intentar con otro!");
          return;
        }else{
          var jsonUsuario = {};
          var fhProceso = new Date();
          jsonUsuario.idcliente= fhProceso.getDate() + "" + (fhProceso.getMonth() +1) + "" + fhProceso.getFullYear()+fhProceso.getHours()+fhProceso.getMinutes()+fhProceso.getSeconds();
          jsonUsuario.usuario= this.$.username.value;
          jsonUsuario.nombre= this.$.nombre.value;
          jsonUsuario.apellido= this.$.apellido.value;
          jsonUsuario.email= this.$.email.value;
          jsonUsuario.password= this.$.password.value;
          jsonUsuario.fecha= fhProceso.getDate() + "-" + (fhProceso.getMonth() +1) + "-" + fhProceso.getFullYear();
          jsonUsuario.estatus= "1";

          var body = JSON.stringify(jsonUsuario);
          var request = new XMLHttpRequest();
          request.open("POST", "http://localhost:3002/clientes",false);
          request.setRequestHeader('Content-type','application/json; charset=utf-8');
          request.send(body);
          if (request.status == 200){
              alert("Se completó el alta de usuario en Forma Exitosa,\nen este momento puede iniciar sesión");
              location.href="sucess.html";
            }else{
              alert("Lo lamentamos, en este momento no contamos con el servicio de alta de usuario");
              return;
            }
        }
      }
   }

    window.customElements.define(RegistroForm.is, RegistroForm);
  </script>
</dom-module>
