<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="alta-movimiento">
  <template>
    <link rel="stylesheet" href="css/login-form.css">
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
       <div class="row">
        <form  id="movimientoForm" onSubmit="return false;">
            <fieldset name="idcliente">
      	      <label for="idcliente">Nro de Cliente:</label>
              <br />
      	      <input type="text" name="idcliente" id="idcliente" placeholder="idcliente" value="{{idcliente}}"
                     required="required" autofocus="autofocus">
      	      <div class="status" id="idcliente_status"></div>
      	    </fieldset>
            <fieldset name="idcuenta">
              <label for="idCuenta">Id Cuenta:</label>
              <br />
              <input type="number" name="idcuenta" id="idcuenta" placeholder="idcuenta" value="{{idcuenta}}"
                     required="required">
              <div class="status" id="idcuenta_status"></div>
            </fieldset>
              <fieldset name="tipocuenta">
                <label for="tipocuenta">Tipo de Cuenta::</label>
                 <br />
                 <select name="tipocuenta" id="tipocuenta">
                    <option value="nomina">Nomina</option>
                    <option value="libreton">Libreton</option>
                 </select>
                <div class="status" id="tipocuenta_status"></div>
              </fieldset>
              <fieldset name="importe">
                <label for="importe">Importe:</label>
                <br/>
                  <input type="number" step="any" name="importe" placeholder="0" id="importe" required="required">
                <div class="status" id="importe_status"></div>
              </fieldset>
              <fieldset name="tipomovimientos">
                  <label for="tipomovimientos">Tipo de Movimiento:</label>
                  <br />
                  <select name="tipomovimiento" id="tipomovimiento">
                     <option selected value="retiro">Retiro</option>
                     <option value="deposito">Deposito</option>
                     <option value="transferencia">Transferencia</option>
                  </select>
                  <div class="status" id="tipomovimiento_status"></div>
              </fieldset>
              <fieldset>
                <button on-click="addMovimientos">Alta movimiento</button>
              </fieldset>
          </form>
        </div>
    </div>
  </template>

    <script>
      /**
       * @customElement
       * @polymer
       */
      class AltaMovimiento extends Polymer.Element {
        static get is() { return 'alta-movimiento'; }
        constructor() {
          super();
        }
        ready() {
               super.ready();
        }
        static get properties() {
          return {
            idcliente: {
              type: Number,
              value: sessionStorage.getItem("idcliente")
            }
          };
        }
        addMovimientos(){
          var movimiento = {};
		      var listadoJson={};
          var fhProceso = new Date();
          movimiento.idcliente= this.$.idcliente.value;
          movimiento.idcuenta= this.$.idcuenta.value;
          movimiento.tipocuenta= this.$.tipocuenta.value;
          movimiento.idmovimiento=fhProceso.getDate() + "" + (fhProceso.getMonth() +1) + "" + fhProceso.getFullYear()+fhProceso.getHours()+fhProceso.getMinutes()+fhProceso.getSeconds() ;
          movimiento.fecha= fhProceso.getDate() + "/" + (fhProceso.getMonth() +1) + "/" + fhProceso.getFullYear();
          movimiento.importe= this.$.importe.value;
          movimiento.tipomovimiento= this.$.tipomovimiento.value;
          var body = JSON.stringify(movimiento);
          var request = new XMLHttpRequest();
          request.open("POST", "http://localhost:3002/movimientos",false);
          request.setRequestHeader('Content-type','application/json; charset=utf-8');
          request.send(body);
          if (request.status == 200){
            alert("El movimiento se agregó exitosamente");
            this.$.idcuenta.value = "";
            this.$.importe.value="0";
            return;
          }else{
            alert("ocurrió un error dando de alta el movimiento");
            return;
          }
        }
      }
      window.customElements.define(AltaMovimiento.is, AltaMovimiento);
    </script>
</dom-module>
