<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="header-site">
  <template>
    <div class="container">
      <div class="row">
        <img src="images/header.png" class="img-fluid pull-xs-left" alt="Proyecto Practitioner" style="max-width:90%;width:auto;height:auto;">
        <div>usuario:[[usuario]]</div>
      </div>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
  class HeaderSite extends Polymer.Element {
      static get is() { return 'header-site'; }
      constructor() {
        super();
      }
      ready() {
             super.ready();
      }
      static get properties() {
        return {
          usuario: {
            type: Number,
            value: sessionStorage.getItem("username")
          }
        };
      }
    }

    window.customElements.define(HeaderSite.is, HeaderSite);
  </script>
</dom-module>
